<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ADET_FINAL_PROJECT</title>
    <link rel="icon" type="image/png" href="~/assets/logo-beige.png" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/css/style.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/ADET_FINAL_PROJECT.styles.css" asp-append-version="true" />
</head>
<body>
    <div class="row topbar">
        <p class="text-end pe-4 pt-2 text-white">User</p>
    </div>

    <div class="sidebar position-fixed top-0 start-0 vh-100 p-3 text-white" style="width: 220px;">
        <div class="d-flex justify-content-center mb-3 mt-3">
            <img src="~/assets/logo-beige.png" alt="BuLAKLAK Logo" style="width: 150px;" />
        </div>
        <ul class="nav flex-column mt-4">
            <li class="nav-item">
                <a class="nav-link @(ViewContext.RouteData.Values["action"]?.ToString() == "Inventory" ? "text-warning fw-bold" : "text-white")"
                   asp-controller="Item" asp-action="Inventory">Inventory</a>
            </li>
            <li class="nav-item">
                <a class="nav-link @(ViewContext.RouteData.Values["action"]?.ToString() == "Add" || ViewContext.RouteData.Values["action"]?.ToString() == "NewAdd" ? "text-warning fw-bold" : "text-white")"
                   asp-controller="Item" asp-action="Add">Add Item</a>
            </li>
            <li class="nav-item">
                <a class="nav-link @(ViewContext.RouteData.Values["action"]?.ToString() == "Edit" ? "text-warning fw-bold" : "text-white")"
                   asp-controller="Item" asp-action="Edit">Edit Inventory</a>
            </li>
            <li class="nav-item">
                <a class="nav-link @(ViewContext.RouteData.Values["action"]?.ToString() == "Delete" ? "text-warning fw-bold" : "text-white")"
                   asp-controller="Item" asp-action="Delete">Delete Item</a>
            </li>
        </ul>
    </div>
    <div class="flex-grow-1" style="margin-left: 220px; padding: 1rem;">
        @RenderBody()
    </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
